.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1000px !important;
  width: 100%;

  padding: 4rem;
  padding-bottom: 0;
  max-width: 100%; /* Ensure the section doesn't overflow */
  overflow-wrap: break-word; /* Wrap long text */

  box-shadow: 5px 5px 10px var(--page-shadow-dark), -5px -5px 10px var(--page-shadow-light);
  border-radius: 10px;
  background: var(--page-background);
  border-radius: 12px;
  margin: 40px;
  padding-bottom: 20px;
}

.content-section h2 {
  font-size: 20pt;
  font-weight: 800;
  color: var(--text);
  text-align: left;
  margin-bottom: 1rem;
  background: linear-gradient(to top, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-section.centered-section {
  text-align: center !important;
}

.content-section a {
  color: var(--primary);
  text-decoration: underline;

  &:hover {
    color: var(--accent);
  }
}

.content-section .centered {
  text-align: center;
}

.content-section .primary {
  color: var(--primary);
  font-weight: 600;
}

.content-section_header {
  margin-bottom: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary);
}

.content-section_header h1 {
  font-size: 30pt;
  font-weight: 800;
  color: var(--text);
  background: linear-gradient(to top, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-section_header h2 {
  font-size: 18pt;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  color: var(--text);
  background: initial;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.content-section .link-button {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text);
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    scale: 1.05;
    translate: 0 -2px;
    color: var(--text);
  }
}

[data-theme="light"] .content-section .link-button {
  color: var(--page-background);
}

.content-section .link-button.outline {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: inset 5px 5px 10px var(--shadow-dark), inset -5px -5px 10px var(--shadow-light);
  transition: all 0.15s ease-in-out;

  &:hover {
    background: var(--secondary);
    color: var(--text);
    box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
    scale: 1;
    translate: 0 0;
  }
}

.content-section .link-button.uncolored {
  background: transparent;
  border: 1px solid var(--shadow-light);

  &:hover {
    background: var(--shadow-light);
    color: var(--text);
  }
}

.content-section .link-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.content-section .link-image {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.05) translateY(-2px);
  }
}

@media (max-width: 950px) {
  .content-section {
    padding: 4rem 2rem;
  }
}

@media (max-width: 600px) {
  .content-section {
    padding: 2rem; /* Reduce padding */
    margin: 10px;
  }

  .content-section_header h1 {
    font-size: 20pt; /* Reduce header size */
  }

  .content-section_header h2 {
    font-size: 14pt; /* Reduce subtitle size */
  }
}
