.highlight-section {
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-section .side-by-side-section {
  max-width: 1300px !important;
}

.highlight-section .content-section {
  background: none;
  box-shadow: none;
  margin: 10px;
  padding: 4rem 0;
}

.highlight-section .side-by-side-item {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-theme="dark"] .highlight-section .content-section .content-section_header h1 {
  color: var(--text);
  background: none;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: initial;
}

[data-theme="light"] .highlight-section .content-section .content-section_header h1,
[data-theme="light"] .highlight-section .content-section .content-section_header h2,
[data-theme="light"] .highlight-section .content-section .text-paragraph {
  color: var(--page-background);
  background: none;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: initial;
}

.highlight-section .content-section em {
  color: var(--page-background) !important;
}

.highlight-section .content-section .text-paragraph a {
  color: var(--page-background) !important;
  text-decoration: underline;
}
