.photo-grid,
.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 4rem;
  margin-bottom: 3rem;
}

.photo-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.photo-grid img {
  min-width: 200px;
  width: 100%;
  cursor: pointer;
}

.photo-grid img,
.sponsor-grid img {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.35rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: red;
}

.sponsor-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

[data-theme="light"] .sponsor-grid {
  background-color: #0c1019;
  padding: 20px 0;
}

.sponsor-grid img {
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  max-height: 70px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.085) translateY(-2px);
  }
}

@media (max-width: 950px) {
  .photo-grid,
  .sponsor-grid {
    padding: 0 2rem;
  }
}

@media (max-width: 600px) {
  .photo-grid,
  .sponsor-grid {
    grid-template-columns: 1fr;
  }
}
