.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 3rem 1.5rem 0.5rem;

  z-index: 1000; /* Ensure navbar is above other elements */

  color: var(--text);
  background-color: var(--navbar-background); /* Use theme variable */
  box-shadow: 0px 3px 18px 4px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);

  transition: all 0.15s ease-in-out;
}

/* .navbar.scrolled {} */

.navbar__logo {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.navbar__logo img {
  height: 70px;
}

.navbar__links,
.navbar__sidebar-links {
  list-style: none;
}

.navbar__links {
  display: flex;
  gap: 5px;
}

.navbar__hamburger {
  display: none;
  cursor: pointer;
}

.navbar__sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Sidebar hidden by default */
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1001; /* Ensure sidebar is above other elements */

  background-color: var(--sidebar-background); /* Use theme variable */
  box-shadow: -3px 0px 18px 4px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  color: var(--text);

  transition: right 0.3s ease; /* Smooth slide-in effect for sidebar */
}

.navbar__sidebar.open {
  right: 0; /* Slide sidebar into view */
}

.navbar__links li a,
.navbar__sidebar-links li a {
  text-transform: uppercase;
  font-family: "Rubik", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0 10px;
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--text);
  opacity: 0.8;
  transition: all 0.15s ease;
}

.navbar__links li a:hover,
.navbar__sidebar-links li a:hover {
  opacity: 1;
}

.navbar__links li a.active {
  opacity: 1;
  font-weight: 800;
  font-style: italic;
  border-bottom: 7px solid var(--primary);
}

.navbar__hamburger img,
.navbar__close-button {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.navbar__sidebar-title {
  margin: 20px 0;
  font-size: 24px;
}

.navbar__sidebar-links li {
  margin: 10px 0;
}

/* Layout */
@media (max-width: 950px) {
  .navbar__links {
    display: none;
  }

  .navbar__hamburger {
    display: block;
  }
}
