.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 3rem 1.5rem 0.5rem;

  z-index: 1000; /* Ensure navbar is above other elements */

  color: var(--text);
  background-color: var(--navbar-background); /* Use theme variable */
  box-shadow: 0px 3px 18px 4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  transition: all 0.15s ease-in-out;
}

/* .navbar.scrolled {} */

.navbar__logo {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.navbar__logo img {
  height: 70px;
}

.navbar__links,
.navbar__sidebar-links {
  list-style: none;
}

.navbar__links {
  display: flex;
  gap: 3px;
}

.navbar__links li:first-child a:not(.active) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar__links li:last-child a:not(.active) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar__hamburger {
  display: none;
  cursor: pointer;
}

.navbar__sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Sidebar hidden by default */
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1001; /* Ensure sidebar is above other elements */

  background-color: var(--sidebar-background); /* Use theme variable */
  box-shadow: -3px 0px 18px 4px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  color: var(--text);

  transition: right 0.3s ease; /* Smooth slide-in effect for sidebar */
}

.navbar__sidebar.open {
  right: 0; /* Slide sidebar into view */
}

.navbar__links li a,
.navbar__sidebar-links li a {
  text-transform: uppercase;
  font-family: "Rubik", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  /* margin: 0 10px; */
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--text);
  background: var(--sidebar-background);
  padding: 10px 15px;
  opacity: 0.8;
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
  gap: 3px;
}

.navbar__link-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.navbar__links li a:hover,
.navbar__sidebar-links li a:hover {
  opacity: 1;
}

.navbar__links li a.active {
  opacity: 1;
  font-weight: 800;
  font-style: italic;
  border-bottom: 7px solid var(--primary);
}

.navbar__hamburger img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.navbar__close-button {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

[data-theme="light"] .navbar__hamburger img {
  filter: invert(1);
}

.navbar__sidebar-title {
  margin: 20px 0;
  font-size: 24px;
}

.navbar__sidebar-links {
  width: 100%;
}

.navbar__sidebar-links li {
  margin: 3px 0;
  background-color: var(--sidebar-background);
  /* opacity: 0.9; */
  width: 100%;
  padding: 15px;
}

.navbar__sidebar-links :first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.navbar__sidebar-links :last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar__sidebar-links li a {
  padding: 0;
  margin: 0;
  background: none !important;
}

.navbar__sidebar-links li a.active {
  font-weight: 800;
  opacity: 1;
}

.navbar__sidebar-links li:has(a.active) {
  border-bottom: 2px solid var(--primary);
}

.navbar__sidebar header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar__sidebar header h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary);
}

/* Dropdown styles */
.navbar__dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.navbar__dropdown-content {
  border: 1px solid var(--navbar-background);
  display: none;
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  min-width: max-content;
  background-color: var(--navbar-background);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1002;
  border-radius: 5px;
}

/* Show dropdown both on hover and when the show class is applied */
.navbar__dropdown:hover .navbar__dropdown-content,
.navbar__dropdown-content.show {
  display: block;
}

.navbar__dropdown-content a {
  padding: 12px 16px !important;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background: transparent !important;
  border-radius: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.navbar__dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Sidebar dropdown styles */
.navbar__sidebar-dropdown-content {
  margin-top: 10px;
  margin-left: 20px;
  display: none;
}
.navbar__sidebar-dropdown-content li {
  background: none !important;
}

.navbar__sidebar-dropdown.open .navbar__sidebar-dropdown-content {
  display: block;
}

.navbar__sidebar-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.navbar__sidebar-dropdown-content li {
  padding: 10px;
}

/* Toggle icon for dropdowns */
.navbar__dropdown-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

[data-theme="dark"] .navbar__dropdown-icon,
[data-theme="dark"] .navbar__link-icon,
[data-theme="dark"] .navbar__close-button {
  filter: invert(1);
}

.navbar__dropdown.active .navbar__dropdown-icon,
.navbar__sidebar-dropdown.open .navbar__dropdown-icon {
  transform: rotate(180deg);
}

/* Layout */
@media (max-width: 1200px) {
  .navbar__links {
    display: none;
  }

  .navbar__hamburger {
    display: block;
  }
}
