.not-found-container {
  background: var(--background);
  margin: 50px;
  min-height: 80vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container img {
  width: 30%;
  height: auto;
  margin-bottom: 50px;
}

.not-found-container h1 {
  font-size: 30pt;
  font-weight: 800;
  color: var(--text);
  background: linear-gradient(to top, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-found-container p {
  font-size: 13pt;
  color: var(--text);
  text-align: center;
  margin-bottom: 2rem;
  line-height: 2;
}

.not-found-container a {
  font-size: 13pt;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: var(--primary);
    color: var(--background);
  }
}

footer {
  margin-top: 0;
}
