name: deploy to gh pages

on:
  push:
    branches: ["gh-pages-fix-testing", "main"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: 'npm'
      - name: dependencies
        run: npm ci
      - name: check domain
        id: check_domain
        run: |
          if [ -f "./public/CNAME" ]; then
            echo "custom domain found"
            echo "CUSTOM_DOMAIN=true" >> $GITHUB_ENV
          else
            echo "no custom domain! switching to regular gh pages domain"
            echo "CUSTOM_DOMAIN=false" >> $GITHUB_ENV
          fi

      - name: build it
        run: npm run build
        env:
          GITHUB_ACTIONS: true
          CUSTOM_DOMAIN: ${{ env.CUSTOM_DOMAIN }}

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: install mkdocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs
          pip install mkdocs-shadcn

      - name: build programming docs
        working-directory: ./programming_docs
        run: mkdocs build

      - name: upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: final deployment
        id: deployment
        uses: actions/deploy-pages@v4
